<form #form="ngForm" (ngSubmit)="onSubmit()">
    <h2>{{contacto.id ? "Editar contacto" : "Nuevo contacto"}}</h2>
    <div>
        <label for="">Name</label>
        <input type="text" [(ngModel)]="contacto.name" name="Name" [(ngModel)]="contacto.name" name="Name">
    </div>
    <div>
        <label for="">LastName</label>
        <input type="text" [(ngModel)]="contacto.lastName" name="LastName">
    </div>
    <div>
        <label for="">Direccion</label>
        <input type="text" [(ngModel)]="contacto.address" name="direccion">
    </div>
    <div>
        <label for="">Numero telefono</label>
        <input type="text" [(ngModel)]="contacto.number" name="telefono">
    </div>
    <div>
        <label for="">Empresa</label>
        <input type="text" [(ngModel)]="contacto.company" name="empresa">
    </div>
    <div>
        <label for="">Email</label>
        <input type="email" name="email" [(ngModel)]="contacto.email">
    </div>
    <div>
        <label for="">Foto</label>
        <input type="text" [(ngModel)]="contacto.image" name="img" id=""> 
    </div>
    <button type="submit">{{contacto.id ? "Editar" : "Crear"}}</button>
    <button type="button" (click)="cerrar.emit()">Cancelar</button>
</form>