@use "./../../../assets/styles/variables.scss";

.tarjeta-contacto{
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    cursor: pointer;
    align-items: center;
    app-icono-contacto{
        width: 50%;
        margin: auto;
    }
    &:hover{
        background-color: variables.$color-principal;
    }
}
