<div id="container">
    <div class="form-container">
        <h1>Iniciar sesión</h1>
        <p>
            Ingresá tus credenciales para acceder al servicio de contactos.
        </p>
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <label for="user" class="sr-only">Nombre de usuario</label>
            <input type="text" name="user" id="user" [(ngModel)]="loginData.nombreDeUsuario" #user="ngModel"
                placeholder="Usuario" autocomplete="username"
                required>
            <p *ngIf="user.invalid && (user.dirty || user.touched)" class="error">Este campo es requerido</p>
            <label for="email" class="sr-only">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña"
                autocomplete="current-password" required minlength="8" [(ngModel)]="loginData.contrasenia"  #password="ngModel">
            <p class="error" *ngIf="password.invalid && (password.dirty || password.touched)">La contraseña tiene que tener un mínimo de 8 caracteres</p>
            <button type="submit" [disabled]="loginForm.invalid" >Iniciar sesión</button>
            <p class="escondido error">Error al iniciar sesión</p>
        </form>
        <p>¿Todavía no tenés una cuenta? - <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Registrate</a></p>
    </div>
</div>