@use "./../../../assets/styles/variables.scss";

#top{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px ;
    img{
      max-height: 100px;
    }
    app-icono-contacto{
      width: 100px;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.252);
      border-radius: 50%;
      transition: 100ms;
      &:hover{
        filter: brightness(0.8);
      }
    }
    h1{
      font-size: x-large;
      font-weight: bold;
      margin-bottom: unset;
    }
  }
  
  ul{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  li{
    display: flex;
    gap: 10px;
    align-items: center;
    img{
      max-width: 10px;
    }
  }
  
  #botones-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
 