$alto-header: 100px;
$alto-footer: 16px;
$alto-body: calc( 100vh - $alto-header - $alto-footer);


$color-principal: #15015e;

$color-variante: rgb(14, 69, 235);
$color-acento: #910045;

$color-error: red;

$color-texto: white;
$color-fondo: rgb(36, 36, 36);
$color-texto-invertido: rgb(254, 254, 254);